body{
	padding-top: 90px;
}


footer {
  background: black;
  color: white;
  
}

h4{
	text-align: center;
}

.articulo{
	padding-bottom: 166px;
    padding-top: 90px;
    margin-left: 15px;
    margin-right: 15px
}
.verde{
	background-color: green;
}
.blog{
	margin-top: 85px;

}
.line{
padding-top: 0px;
}
.bajar{
	top: 0px;
}

@media (max-width: 770px){
.media{

}

}

.subir{

}
.derecha{
	
}